* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none; }

.clear:after {
  display: table;
  clear: both;
  content: ""; }

p, li, .menuTable td {
  font-family: "Oxygen", sans-serif;
  font-size: 1.1em;
  color: #4a4a4a;
  text-align: left;
  margin: 2% 0; }

h1 {
  font-family: Century Gothic;
  font-size: 1.6em;
  color: #e3e3e3;
  text-align: center; }

h1:hover {
  color: #dbc12a; }

h2 {
  font-family: Century Gothic;
  font-size: 1.7em;
  color: #2b2b2b;
  text-align: left; }

h3 {
  font-family: Century Gothic;
  font-size: 1.5em;
  color: #2b2b2b;
  text-align: left; }

h4 {
  font-family: Century Gothic;
  font-size: 1.3em;
  color: #4a4a4a;
  text-align: center; }

.paraBttn {
  text-align: center;
  margin-top: 8px;
  color: black; }

.paraBttn:hover {
  color: #e3e3e3; }

.paraWine {
  font-family: "Oxygen", sans-serif;
  font-size: 0.8em;
  color: #4a4a4a;
  text-align: left;
  margin: 2% 0; }

.drinksUl li {
  margin: 2% 0; }

.link {
  color: #ffda00;
  text-decoration: underline; }

.logo {
  width: 41.65%;
  margin: auto;
  display: block; }

.menu {
  width: 100%;
  padding: 2%;
  float: left;
  background: #f2f2f2; }

.menuHidden {
  width: 100%;
  padding: 2%;
  float: left;
  background: white; }

.menuHidden {
  display: none; }

.menuTable {
  width: 100%; }
  .menuTable td {
    padding: 1% 0; }
  .menuTable th {
    font-family: Century Gothic;
    font-size: 1.1em;
    color: #4a4a4a;
    text-align: left;
    padding: 1% 0; }
  .menuTable th.subH {
    font-size: 1.5em;
    text-align: center;
    margin: auto;
    color: black; }

.indicatorContainor {
  width: 33.32%;
  float: right;
  padding: 0 4%; }

.menuHeadingCon {
  width: 66.64%;
  float: left; }

.downIndicator {
  display: block;
  float: right;
  font-size: 40px;
  color: #dbc12a; }

.upIndicator {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: #dbc12a; }

nav {
  background-color: #333;
  width: 99.96%;
  height: 100vh;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  display: none; }
  nav ul {
    list-style: none; }
    nav ul li {
      text-align: center; }
      nav ul li a.navItem {
        text-decoration: none;
        color: #e3e3e3;
        padding: 20px;
        display: block; }
      nav ul li a.navItem:hover {
        background: #dbc12a;
        color: #2b2b2b;
        font-weight: 900; }

.cPage {
  text-decoration: underline; }

.active {
  display: block; }

.inactive {
  display: none; }

.fas {
  color: #e3e3e3;
  font-size: 40px;
  z-index: 3; }

.fas:hover {
  color: #dbc12a; }

.close {
  color: #a3271c;
  font-size: 40px;
  text-align: center;
  margin: 2%; }

.close:hover {
  color: #f2f2f2; }

.menuContainer {
  width: 16.66%;
  float: left; }

.websiteTitleContainer {
  width: 66.64%;
  float: left;
  margin-top: 1%; }

.logoContainer {
  width: 33.32%;
  float: right; }

body {
  background: #f2f2f2; }

.map {
  width: 99.96%;
  height: 40vh;
  border: 0; }

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  float: left;
  padding: 2%;
  background: #333; }

.main {
  width: 100%; }

.brandContainer {
  width: 83.3%;
  float: left; }

.borderShadow {
  box-shadow: 2px 2px 10px #2e2e2e; }

.section {
  width: 100%;
  float: left; }

.writtenContent {
  width: 100%;
  padding: 2%;
  float: left;
  background: #f2f2f2; }

.bodyContainer {
  width: 100%;
  padding: 0;
  float: left;
  background: #f2f2f2; }

.imgContainer {
  width: 100%;
  padding: 0;
  float: left;
  background: #333; }

.menuItem {
  width: 100%;
  padding: 0;
  float: left;
  background: #f2f2f2;
  margin: 2% 0; }

.location {
  width: 100%;
  padding: 0;
  float: left;
  background: #f2f2f2;
  margin: 2% 0; }

.heading {
  width: 100%;
  padding: 0;
  float: left;
  background: 0; }

.bttn {
  width: 45.815%;
  max-width: 250px;
  min-width: 150px;
  float: right;
  margin: 4% 5%;
  height: 40px; }

.bttn:hover {
  color: white;
  background: #333; }

.bttnStyle {
  background: #dbc12a;
  box-shadow: 2px 2px 3px #2e2e2e;
  border-radius: 3px; }

.testImage {
  height: 400px;
  background: darkslategrey;
  width: 99.96%; }

@media only screen and (min-width: 768px) {
  .imgContainer, .writtenContent {
    width: 50%;
    float: left; }

  h1 {
    font-size: 2em; } }
@media only screen and (min-width: 1024px) {
  .menuItem {
    width: 49.98%;
    padding-right: 2%;
    float: left;
    height: 260px;
    margin: 0; }

  h1 {
    font-size: 3em; }

  .nonAlcoholic {
    width: 50%;
    margin: auto; }

  .location {
    width: 33.32%;
    overflow: hidden; }

  .map {
    min-height: 100%; } }
@media only screen and (min-width: 1920px) {
  .imgContainer {
    height: 945px; }

  .map {
    height: 88vh; } }
hr {
  border: none;
  height: 2px;
  margin-top: 45px;
  /* Set the hr color */
  color: #333;
  /* old IE */
  background-color: #333;
  /* Modern Browsers */ }

/*# sourceMappingURL=style.css.map */
