.logo{
	width: 50px;
	// max-width: 100px;
	margin: auto;
	display: block;
}
.socialBttn{
	width: 2*$col;
	max-width: 50px;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	
}

#menuFood{
	background-image: url("../images/food1.jpg");
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 1250px;
	height: 61vh;
}
#menuDrinks{
	background-image: url("../images/drinks2.jpg");
	background-position: bottom center;
	background-repeat: no-repeat;
	height: 68vh;
}
#coverImage{
	background-image: url("../images/inside-bar.jpg");
	background-position: top center;
	background-attachment: fixed;
	background-size: 700px;
	height: 42vh;
}
#foodImage{
	background-image: url("../images/food.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 700px;
	height: 40vh;
}
#drinkImage{
	background-image: url("../images/drinks.jpg");
	background-position: center;
	background-size: 700px;
	height: 50vh;
}