.logo{
	width: 50px;
	// max-width: 100px;
	margin: auto;
	display: block;
}
.siteImage{
	height: 60vh;
	margin-left: 30%;
	transform: translateX(-30%);
	margin: auto;
}

#menuFood{
	background-image: url("../images/food1.jpg");
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 1250px;
	background-attachment: fixed;
	height: 61vh;
}
#menuDrinks{
	background-image: url("../images/drinks1.jpg");
	background-position: bottom center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 68vh;
}
#coverImage{
	background-image: url("../images/inside-bar.jpg");
	background-position: top center;
	background-attachment: fixed;
	background-size: 700px;
	height: 42vh;
}
#foodImage{
	background-image: url("../images/food.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 700px;
	height: 40vh;
}
#drinkImage{
	background-image: url("../images/drinks.jpg");
	background-position: bottom center;
	background-size: 700px;
	background-attachment: fixed;
	height: 50vh;
}