// Ipad
@media only screen and (min-width: 768px) {
	.imgContainer, .writtenContent{
		width: 50%;
		float: left;
	}
	.writtenContent{
		padding: $divPad;
	}
	h1{
		font-size: 2em;
	}
	.sticky{
		padding: 10px;
	}
	.map{
		height: 54vh;
	}

	// Images
	#coverImage{
		background-attachment: scroll;
		background-repeat: no-repeat;
	}
	#foodImage{
		background-attachment: scroll;
		background-repeat: no-repeat;
	}
	#drinkImage{
		background-attachment: scroll;
		background-repeat: no-repeat;
	}
}
// Desktop
@media only screen and (min-width: 1024px) {
	*{
		scroll-behavior: smooth;
	}
	.menuItem{
		width: 6*$col;
		padding-right: $divPad;
		float: left;
		height: 260px;
		margin: 0;
	}
	.bttn{
		float: left;
		margin: 2% 0;
	}
	.sticky{
		position: static;
	}
	h1{
		font-size: 2.7em;
		text-align: left;
	}
	h2{
		font-size: 2em;
	}
	.websiteTitleContainer{
		width: 5*$col;
		padding: 0 5%;
	}
	.logoContainer{
		width: 7*$col;
		padding: 0 10%;
	}
	.logo{
		width: 115px;
		float: right;
		margin-right: 3%;
		display: block;
	}
	.nonAlcoholic{
		width: 50%;
		margin: auto;
	}
	.location{
		width: 4*$col;
		overflow: hidden;
	}
	.map{
		height: 65vh;
	}
	
	.brandContainer{
		width: $spanCol;
		margin-bottom: 20px;
	}
	// Navigation
	.menuContainer{
		display: none;
	}
	#navDesktop{
		display: block;
		width: 7*$col;
	}

	// Cover Page Sections
	#aboutWritten{
		margin-top: 15vh;
	}
	#locationWritten{
		margin-top: 15vh;
	}
	

	// Images
	#coverImage{
		background-size: $coverImageSizeDtop;
		background-position: center;
		height: 65vh;
	}
	#foodImage{
		background-size: $coverImageSizeDtop;
		background-position: top center;
		height: 75vh;
	}
	#drinkImage{
		background-size: $coverImageSizeDtop;
		background-position: top center;
		height: 70vh;
	}
	#menuFood{
		background-attachment: scroll;
		background-repeat: no-repeat;
		background-size: 2000px;
		background-position: center;
		height: 65vh;
	}
	#menuDrinks{
		background-attachment: scroll;
		background-repeat: no-repeat;
		background-size: 2000px;
		background-position: center;
		height: 81.22vh;
	}
}

@media only screen and (min-width: 1920px) {
	h1{
		font-size: 3em;
	}
	// Cover Page Sections
	#locationWritten{
		margin-top: 30vh;
	}
	#aboutWritten{
		margin-top: 30vh;
	}
	#foodWritten{
		margin-top: 12vh;
	}
	#drinksWritten{
		margin-top: 12vh;
	}
	.map{
		height: 100vh;
	}

	// Images
	#coverImage{
		background-size: 1500px;
		background-position: center;
		height: 100vh;
	}
	#foodImage{
		background-size: 1500px;
		background-position: top center;
		height: 100vh;
	}
	#drinkImage{
		background-size: 2000px;
		background-position: center;
		height: 100vh;
	}
	#menuFood{
		background-attachment: scroll;
		background-repeat: no-repeat;
		background-size: 2000px;
		background-position: center;
		height: 81.22vh;
	}
	#menuDrinks{
		background-attachment: scroll;
		background-repeat: no-repeat;
		background-size: 2000px;
		background-position: center;
		height: 81.22vh;
	}
}