// Ipad
@media only screen and (min-width: 768px) {
	// Section Containers
	.writtenContent{
		padding: $divPad;
	}
	.menuItem{
		width: 6*$col;
		padding-right: $divPad;
		float: left;
		height: 260px;
		margin: 0;
	}
	.sticky{
		padding: 10px;
	}
	.bttn{
		float: left;
		margin-left: 0;
	}

	// Elements on page
	h1{
		font-size: 2em;
	}
	.map{
		height: 54vh;
	}

	// Images
	#coverImage{
		background-attachment: scroll;
		background-size: 1200px;
		background-position: center;
		height: 51vh;
		background-repeat: no-repeat;
	}
	#foodImage{
		background-attachment: scroll;
		background-size: 1700px;
		background-position: center;
		height: 52vh;
		background-repeat: no-repeat;
	}
	#drinkImage{
		background-attachment: scroll;
		height: 50vh;
		background-size: 1800px;
		background-position: center;
		background-repeat: no-repeat;
	}
	#menuFood{
		background-attachment: scroll;
		height: 78.5vh;
		background-size: 2055px;
		background-position: center;
		background-repeat: no-repeat;
	}
	#menuDrinks{
		background-attachment: scroll;
		height: 78.5vh;
		background-size: 1000px;
		background-position: center;
		background-repeat: no-repeat;
	}
}

// Desktop window modes
@media only screen and (min-width: 1024px) {
	*{
		scroll-behavior: smooth;
	}

	// Sections
	.imgContainer, .writtenContent{
		width: 50%;
		float: left;
	}
	.bttn{
		float: left;
		margin: 2% 0;
	}
	.sticky{
		position: static;
	}
	.websiteTitleContainer{
		width: 5*$col;
		padding: 0 5%;
	}
	.logoContainer{
		width: 7*$col;
		padding: 0 10%;
	}
	.nonAlcoholic{
		width: 6*$col;
		margin: auto;
	}
	.location{
		width: 4*$col;
		overflow: hidden;
	}
	.brandContainer{
		width: $spanCol;
		margin-bottom: 20px;
	}
	// Cover Page Sections
	#aboutWritten{
		margin-top: 30px;
	}
	#locationWritten{
		margin-top: 170px;
	}
	#foodWritten{
		margin-top: 50px;
	}
	#drinksWritten{
		margin-top: 30px;
	}

	// Elements
	h1{
		font-size: 2.4em;
		text-align: left;
	}
	h2{
		font-size: 2em;
	}
	.logo{
		width: 115px;
		float: right;
		margin-right: 3%;
		display: block;
	}
	.map{
		height: 690px;
	}
	
	// Navigation
	.menuContainer{
		display: none;
	}
	#navDesktop{
		display: block;
		width: $spanCol;
	}
	

	// Images
	#coverImage{
		background-size: $coverImageSizeDtop;
		background-position: center;
		height: 500px;
	}
	#foodImage{
		background-size: $coverImageSizeDtop;
		background-position: top center;
		height: 725px;
	}
	#drinkImage{
		background-size: $coverImageSizeDtop;
		background-position: top center;
		height: 725px;
	}
	#menuFood{
		background-attachment: scroll;
		background-repeat: no-repeat;
		background-size: 2000px;
		background-position: center;
		height: 65vh;
	}
	#menuDrinks{
		background-attachment: scroll;
		background-repeat: no-repeat;
		background-size: 1000px;
		background-position: center;
		height: 81.22vh;
	}
}

// Desktop full screen mode. 1920x1080, 1920x1200 and 2560x1080 tested
@media only screen and (min-width: 1920px) {
	// Elements
	h1{
		font-size: 3em;
	}
	#bkToTop{
		padding: 15px 30px;
	}
	
	// Cover Page Sections
	#aboutWritten{
		margin-top: 30vh;
	}
	#locationWritten{
		margin-top: 30vh;
	}
	#foodWritten{
		margin-top: 13vh;
	}
	#drinksWritten{
		margin-top: 12vh;
	}
	.map{
		height: 100vh;
	}

	// Images
	#coverImage{
		background-size: 200vh;
		background-position: center;
		height: 100vh;
	}
	#foodImage{
		background-size: 200vh;
		background-position: top center;
		height: 100vh;
	}
	#drinkImage{
		background-size: 200vh;
		background-position: center;
		height: 100vh;
	}
	#menuFood{
		background-attachment: scroll;
		background-repeat: no-repeat;
		background-size: 225vh;
		background-position: center;
		height: 70.3vh;
	}
	#menuDrinks{
		background-attachment: scroll;
		background-repeat: no-repeat;
		background-size: 125vh;
		background-position: center;
		height: 70.3vh;
	}
}