// Menu Sections
.menu{
	@include divPosition ($spanCol, $divPad, left, $bgColorLght);
}
.menuHidden{
	@include divPosition ($spanCol, $divPad, left, white);
	// display: none;
}
.menuHidden{
	display: none;
}

// Menu Table
.menuTable{
	width: $spanCol;
	td{
		@extend p;
		padding: 1% 0;
	}
	th{
		@include textStyle ($headingFont, 1.1em, $fntParaColor, left);
		padding: 1% 0;
		// padding-bottom: 4px;
	}
	th.subH{
	font-size: 1.5em;
	text-align: center;
	margin: auto;
	color: black;
}
}


.indicatorContainor{
	width: 4*$col;
	float: right;
	padding: 0 2*$divPad;
}
.menuHeadingCon{
	width: 8*$col;
	float: left;
}
.downIndicator{
	display: block;
	float: right;
	font-size: 40px;
	color: $yellow;
}
.upIndicator{
	display: inline-block;
	width: $spanCol;
	text-align: center;
	font-size: 40px;
	color: $yellow;
}

// Images
