#nav{
	background-color: $bgColorDrk;
	width: 12*$col;
	height: 100vh;
	z-index: 3;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	ul{
		list-style: none;
		li{
			// font-family: ;
			text-align: center;
			a.navItem{
				text-decoration: none;
				color: $fntWhite;
				padding: 20px;
				display: block;
			}
			a.navItem:hover{
				background: $yellow;
				color: $fntDark;
				font-weight: 900;
			}
		}
	}
}

// Nav for Desktop
#navDesktop{
	display: none;
	width: $spanCol;
	ul{
			padding-top: 5px;
			padding-bottom: 5px;
			li{
				display: inline;
				font-size: 1.4em;
			}
			a.navItem{
				text-decoration: none;
				color: $fntWhite;
				padding: 15px 50px;
			}
			a.navItem:hover{
				background: $yellow;
				color: $fntDark;
				font-weight: 900;
			}
		}
}
.cPage{
	// color: ;
	text-decoration: underline;
}
.active{
	display: block;
}
.inactive{
	display: none;
}
.fas{
	color: #e3e3e3;
	font-size: 40px;
	z-index: 3;
}
.fas:hover{
	color: $yellow;
}
.close{
	color: $red;
	font-size: 40px;
	text-align: center;
	margin: $divMar;	
}
.close:hover{
	color: $bgColorLght;
}
.menuContainer{
	width: 2*$col;
	float: left;
}
.websiteTitleContainer{
	width: 8*$col;
	float: left;	
	margin-top: 1%;
}
.logoContainer{
	width: 4*$col;
	float: left;	
}