.sticky{
	position: sticky;
	top: 0;
	width: 12*$col;
	float: left;
	padding: $divPad;
	background: $bgColorDrk;
}
.main{
	width: 12*$col;
}
.brandContainer{
	width: 6*$col;
	float: left;
}
.borderShadow{
	box-shadow: 1px 1px 30px black;
}
.section{
	width: 12*$col;
	float: left;
}
.writtenContent{
	float: left;
	width: 12*$col;
	padding: $divPad;
	background: $bgColorLght;
}
.imgContainer{
	float: left;
	width: 12*$col;
	padding: $divPad;
	background: $bgColorDrk;
}