.sticky{
	position: sticky;
	top: 0;
	width: 12*$col;
	float: left;
	padding: $divPad;
	background: $bgColorDrk;
}
.main{
	width: 12*$col;
}
.brandContainer{
	width: 10*$col;
	float: left;
}
.borderShadow{
	box-shadow: 1px 1px 30px black;
}
.section{
	width: 12*$col;
	float: left;
}
.writtenContent{
	float: left;
	width: 12*$col;
	padding: $divPad;
	background: $bgColorLght;
}
.imgContainer{
	float: left;
	width: 12*$col;
	padding: $divPad;
	background: $bgColorDrk;
}
.menuItem{
	@include divPosition (12*$col, 0, left, $bgColorLght);
	margin: 2% 0;
}
.location{
	@include divPosition (12*$col, 0, left, $bgColorLght);
	margin: 2% 0;
}

// Buttons
.bttn{
	width: 5*$col;
	float: right;
	margin: 4% 5%;
	height: 5vh;
	box-shadow: 2px 2px 3px darkgray;
}
.bttn:hover{
	color: white;
	background: $bgColorDrk;
}
.bttnStyle{
	background: $yellow;
}