.sticky{
	position: sticky;
	top: 0;
	width: 12*$col;
	float: left;
	padding: $divPad;
	background: $bgColorDrk;
}
.main{
	width: 12*$col;
}
.brandContainer{
	width: 10*$col;
	float: left;
}
.borderShadow{
	box-shadow: 2px 2px 10px $shdwColor;
}
.section{
	width: 12*$col;
	float: left;
	top:-40;
}
.writtenContent{
	@include divPosition (12*$col, $divPad, left, $bgColorLght);
}
.imgContainer{
	@include divPosition (12*$col, 0, left, $bgColorDrk);
}
.menuItem{
	@include divPosition (12*$col, 0, left, $bgColorLght);
	margin: 2% 0;
}
.location{
	@include divPosition (12*$col, 0, left, $bgColorLght);
	margin: 2% 0;
}

// Buttons
.bttn{
	width: 5.5*$col;
	max-width: 250px;
	min-width: 150px;
	float: right;
	margin: 4% 5%;
	height: 40px;
}
.bttn:hover{
	color: white;
	background: $bgColorDrk;
}
.bttnStyle{
	background: $yellow;
	box-shadow: 2px 2px 3px $shdwColor;
	border-radius: 3px;
}

// Test
.testImage{
	height: 400px;
	background: darkslategrey;
	width: 12*$col;
}