$col: 8.33%;
$spanCol: 100%;
$divPad: 2%;
$divMar: 2%;

$coverImageSizeDtop: 1500px;

// Colors
$bgColorDrk: #333;
$bgColorLght: #f2f2f2;
$yellow: #dbc12a;
$link: #ffda00;
$red: #a3271c;
$shdwColor: #2e2e2e;


// Type Variables
$headingFont: Century Gothic;
$paraFont: 'Oxygen', sans-serif;;
$fntWhite: #e3e3e3;
$fntDark: #2b2b2b;
$fntParaColor: #4a4a4a;