$col: 8.33%;
$divPad: 2%;
$divMar: 2%;

// Colors
$bgColorDrk: #333;
$bgColorLght: #f5f5f5;
$yellow: #dbc12a;


// Type Variables
$headingFont: Century Gothic;
$paraFont: 'Oxygen', sans-serif;;
$fntWhite: #e3e3e3;
$fntDark: #2b2b2b;
$fntParaColor: #4a4a4a;