@import 'variables.scss';
@import 'mixins.scss';
@import 'resets.scss';
@import 'nav.scss';
@import 'sections.scss';
@import 'mediaQuerries.scss';
@import 'type.scss';

.fntWhite{
	color: $fntWhite;
}

.map{
	width: 12*$col;
	height: 40vh;
	border: 0;
}

.clear{
	display: table;
	clear: both;
	content: "";
}