@import 'resets.scss';
@import 'variables.scss';
@import 'mixins.scss';
@import 'type.scss';
@import 'menuStyles.scss';
@import 'nav.scss';
@import 'sections.scss';
@import 'mediaQuerries.scss';

.map{
	width: 12*$col;
	height: 40vh;
	border: 0;
}

hr{
	border: none;
    height: 2px;
    margin-top: 40px;
    /* Set the hr color */
    color: $bgColorDrk; /* old IE */
    background-color: $bgColorDrk; /* Modern Browsers */
}
