@import 'variables.scss';
@import 'resets.scss';
@import 'nav.scss';
@import 'sections.scss';
@import 'mediaQuerries.scss';

.fntWhite{
	color: $fntWhite;
}


.clear{
	display: table;
	clear: both;
	content: "";
}